################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/RegressionTests/bin/Debug/net8.0
/RegressionTests/obj/Debug/net8.0
/Ricis.Console/bin/Debug/net8.0
/Ricis.Console/obj
/Ricis.Finance
/Ricis.NavierStokes.Console/bin/Debug/net8.0
/Ricis.NavierStokes.Console/obj/Debug/net8.0
/Ricis.Numerics/bin/Debug/net8.0
/Ricis.Numerics/obj
/Ricis.Numerics/Ricis.Numerics.Benchmarks/bin/Debug/net8.0
/Ricis.Numerics/Ricis.Numerics.Benchmarks/obj/Debug/net8.0
/Ricis.Numerics/Ricis.Numerics.UnitTests/bin/Debug/net8.0
/Ricis.Numerics/Ricis.Numerics.UnitTests/obj/Debug/net8.0
/Ricis.Numerics/Ricis.Numerics.UnitTests/obj
/Ricis.Numerics/Ricis.Numerics.Benchmarks/obj
/Ricis.WebApi/bin/Debug/net8.0
/Ricis.NavierStokes.Console/obj
/Ricis.WebApi/obj
/RegressionTests/obj
/Ricis.WebAssembly/bin/Debug/net8.0
/Ricis.WebAssembly/obj/Debug/net8.0
/Ricis.WebAssembly/obj
/UnitTests/bin/Debug/net8.0
/UnitTests/obj
/Ricis.Core.sln.DotSettings.user
*.lutconfig
/Ricis.Console/Properties/launchSettings.json
