% RICIS-LOCALE: en-US
\documentclass[12pt]{article}
\usepackage[T2A]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[english,russian]{babel}
\usepackage{amsmath,amssymb,amsthm}
\usepackage{amsfonts}
\usepackage{textcomp}
\usepackage{geometry}
\usepackage{array}
\usepackage{longtable}
\geometry{a4paper, margin=1in}

\newtheorem{theorem}{Theorem}
\newtheorem{lemma}{Lemma}
\newtheorem{axiom}{Axiom}
\newtheorem{definition}{Definition}
\newtheorem{corollary}{Corollary}
\newtheorem{remark}{Remark}
\selectlanguage{english}
\renewcommand{\contentsname}{Contents}
\renewcommand{\proofname}{Proof}

\title{ {{Title}} \\ \large {{Subtitle}} }
\author{ {{AuthorDisplayName}} }
\date{}

\begin{document}
\maketitle

{{Abstracts}}

{{#if TableOfContentsIncluded}}
\tableofcontents
\vspace{1cm}
{{/if}}

\section*{ {{EvidenceBoundaryLabel}} }
\addcontentsline{toc}{section}{ {{EvidenceBoundaryLabel}} }
{{EvidenceBoundary}}

{{#if AuthorIncluded}}
\section*{Author and SEO metadata}
\addcontentsline{toc}{section}{Author and SEO metadata}
\textbf{Name:} {{AuthorDisplayName}}\\
\textbf{Alternate name:} {{AuthorAlternateName}}\\
\textbf{ORCID:} \texttt{ {{AuthorOrcid}} }\\
\textbf{Description:} {{AuthorDescription}}\\
\textbf{Keywords:} {{AuthorKeywords}}
{{AuthorWorks}}
{{/if}}

{{#each Sections}}
{{this.Opening}}
\textit{ {{SemanticStatusLabel}}:} {{this.Status}}\\
{{this.Body}}
{{this.Equation}}
{{this.Claims}}
{{this.ProofSteps}}
{{this.ValidationRows}}
{{/each}}

{{#if EpilogueIncluded}}
\section*{ {{EpilogueHeading}} }
\addcontentsline{toc}{section}{ {{EpilogueHeading}} }
{{Epilogue}}
{{EpilogueSteps}}
{{/if}}

{{#if ConclusionIncluded}}
\section*{ {{ConclusionHeading}} }
\addcontentsline{toc}{section}{ {{ConclusionHeading}} }
{{Conclusion}}
{{ConclusionSteps}}
{{/if}}

{{AppendixSections}}
{{TechnicalAppendix}}
\end{document}
